.content{
  margin: 50px;
  // width: calc(100% - 100px);
}

table {
  width: 100%;
}

button {
  width: 20px;
  height: 30px;
  line-height: 30px;
  min-height: 20px;
  vertical-align: top;
  font-size: 13px;
  padding: 0 0;
  margin: 0;
}

.add {
  display: block;
  float: right;
  width: 100px;
}

.add button {
  width: 100px !important;
  min-width: 50px !important;
  font-size: 15px !important;
}

.my-form {
  background-color: white;
  box-shadow: 5px 15px 15px 15px rgba($color: #9c9c9c, $alpha: 1.0);
}
