<mat-selection-list #mns [multiple]="false">
  <div class = "icon">
    <img src="/assets/images/icon1.png" alt="image" width="100px">
  </div>
  <mat-list-option [routerLink]="['/main']">
    Overview
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option [routerLink]="['/income']">
    Incomes Detail
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option [routerLink]="['/expense']">
    Expenses Detail
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option [routerLink]="['/group']">
    Billing Split
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option [routerLink]="['/account']">
    Account Setting
  </mat-list-option>
  <mat-divider></mat-divider>
  <mat-list-option (click)="logOut()">
    Log Out
  </mat-list-option>
</mat-selection-list>
