<mat-drawer-container class="main">
  <mat-drawer mode="side" opened>
    <div class="side-nav">
      <app-side-bar></app-side-bar>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">

      <div>
        <mat-form-field>
          <mat-label>Income Date</mat-label>
          <mat-select [(value)]="incomeSelectedDate" (selectionChange)="changeIncomeDate($event.value)">
            <mat-option *ngFor="let date of incomeDate" [value]="date">
              {{date}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="add">
          <button mat-raised-button color="primary" (click)="add()">Add One</button>
        </div>
      </div>

      <table mat-table [dataSource]="incomes" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="edit(element)">Edit</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
