<div class="loading" *ngIf="isLoading">
  <mat-spinner class="my-spinner"></mat-spinner>
</div>

<div class="shadow" *ngIf="showAddIncome">
  <div class="form-container">
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" class="my-form">

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="incomeAmount">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Income Type</mat-label>
        <mat-select [(value)]="incomeTypeKey">
          <mat-option *ngFor="let type of incomeTypes" [value]="type.key">{{ type.value }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline" style="width: 200px;">
        <mat-label>Income Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="incomeDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Note</mat-label>
        <input matInput [(ngModel)]="incomeNote">
      </mat-form-field>

      <button mat-raised-button color="primary" class="button-large" (click)="save()">Save</button>
      <br />
      <ng-container *ngIf="showDeleteButton">
        <button mat-raised-button color="accent" class="button-large" (click)="deleteIncome()">Delete</button>
        <br>
      </ng-container>
      <button mat-raised-button color="warn" class="button-large" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>

<mat-drawer-container class="main">
  <mat-drawer mode="side" opened>
    <div class="side-nav">
      <app-side-bar></app-side-bar>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">

      <div>
        <mat-form-field>
          <mat-label>Income Date</mat-label>
          <mat-select [(value)]="incomeSelectedDate" (selectionChange)="changeIncomeDate()">
            <mat-option *ngFor="let month of incomeMonth" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="add">
          <button class="button-medium" mat-raised-button color="primary" (click)="add()">Add One</button>
        </div>
      </div>

      <table mat-table [dataSource]="incomes" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="button-small" mat-raised-button color="primary" (click)="edit(element)">Edit</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
